<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<!-- Footer -->
<div class="footer">
    <div class="item1">
        <h5>Besoin d'aide ?</h5>
        <p><a href="#">Questions fréquentes</a></p>
        <p><a href="#">Contacts</a></p>
        
    </div>
    <div class="ligne-verticale"></div>
    <div class="item2">
        <h5>Phone</h5>
        <p><a href="#">Cadeaux.com</a></p>
        <p><a href="#"> blog </a></p>
        <p><a href="#">En ce moment chez a</a></p>
    </div>
    <div class="item3">
        <h5>A propos</h5>
        <p><a href="#">Devenir affili&eacute;</a></p>
        <p><a href="#">phones</a></p>
        <p><a href="#">Programe de durabilit&eacute;</a></p>
        <p><a href="#">Rejoindre le r&eacute;seau</a></p>
    </div>
    <div class="item4">
        <h5>Mentions l&eacute;gales</h5>
        <p><a href="#">Mentions l&eacute;gales</a></p>
        <p><a href="#">Conditions G&eacute;n&eacute;rales de Vente</a></p>
        <p><a href="#">Cookies</a></p>
        <p><a href="#">Droits de r&eacute;tractation</a></p>
    </div>
    <br/>
    <div class="ligne-horizontale1"></div>
    <div class="item5">
        <div class="item51">
            <p style="color: white;">Voir nos <strong>47 263</strong> avis sur
            <a href="#">Trustpilote</a>
            </p>
        </div>
        <div class="item52">
            <h6 style="color: white; font-size: 15px;">Rejoignez-nous</h6>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-skype"></i></a>
        </div>
        <div class="item53">
            <h6 style="color: white; font-size: 15px;">Achats 100% sécurisés</h6>
            <img src="./Images/pay pal.png" alt="payPal" data-bs-toggle="tooltip" data-bs-placement="buttom" title="payPal" style="height: 65px; width: 65px ; border-radius: 50%;">
            <img src="./Images/visa.png" alt="payPal" data-bs-toggle="tooltip" data-bs-placement="buttom" title="visa" style="height: 65px; width: 65px ; border-radius: 50%;">
            <img src="./Images/master card.webp" alt="payPal" data-bs-toggle="tooltip" data-bs-placement="buttom" title="master card" style="height: 65px; width: 65px ; border-radius: 50%;">
        </div>
        <div class="ligne-horizontale"></div>
    </div>
    <div class="item6"> 
        <p>Marque Préférée des marocains - Etude réalisée du 21 au 22 juin 2023 par OpinionWay auprès d’un échantillon représentatif de 1005 personnes de la population marocaine de 18 ans et plus, dans la catégorie Fleuristes.<br/>Elu Service Client de l’Année 2024 - Catégorie Livraison de fleurs - Etude BVA - Viséo CI - Plus dinfos sur escda.fr<br/>Interdiction de vente de boissons alcooliques aux mineurs de moins de 18 ans. La preuve de majorité de l'acheteur est exigée au moment de la vente en ligne.<br/>Code de la santé publique, Art. L.3342-1 et L.3342-3</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.8454153788925!2d-4.994452724485896!3d33.99650417317804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9f8b9a6b9ab9e1%3A0x64ee3e19ad13f28b!2sENSA%20%3A%20%C3%89cole%20Nationale%20des%20Sciences%20Appliqu%C3%A9es_F%C3%A8s!5e0!3m2!1sfr!2sma!4v1731154977541!5m2!1sfr!2sma" width="300px" height="200px" style="border:3px; border-radius: 30px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="item7">
        <div class="copyright text-center">
            &copy; Copyright <strong><span>Interflora</span></strong>. All Rights Reserved
        </div>
        <div class="credite text-center">
            Designed By <a href="#">BENSAID Malak</a>
        </div>
     </div>
<!-- Footer -->

